 /* Estilo geral */
 body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  /* Cabeçalho */
  .home {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .home img {
    max-width: 150px;
  }

  .home button {
    background-color: #ffffff;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .home button:hover {
    background-color: #4CAF50;
    color: white;
  }

  /* Título principal */
  h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }

  /* Formulário */
  #formMusica {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  #formMusica label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

  #formMusica input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }

  #formMusica button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  #formMusica button:hover {
    background-color: #45a049;
  }

  /* Catálogo de Músicas */
  #catalogoMusicas {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  #catalogoMusicas h3 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
  }

  .musica {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .musica:last-child {
    border-bottom: none;
  }

  .musica h4 {
    margin: 0;
    color: #333;
  }

  .musica p {
    margin: 5px 0;
    color: #666;
  }